# PISA Data Exploration

## 1 : Preliminary Wrangling
This document explore a survey of students' skills and knowledge as they approach the end of compulsory education..

In [5]:
#load all the neccessary modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use(style='ggplot')

In [19]:
#First we started by taking a subset of the data  (20%)  due to it's large size
#We saved the data as a CSV as it would be easier to manage


import pyreadstat

df, meta = pyreadstat.read_sav(r'D:\STU\CY07_MSU_STU_QQQ.sav')
#df = df.sample(frac=0.2, random_state=42)  # Adjust random_state for reproducibility
# df.to_csv('PISA_SampleDF.csv',index=False)

In [7]:
#Loading The New DataSet

#df = pd.read_csv('PISA_SampleDF.csv')

In [21]:
df.head()

,CNTRYID,CNT,CNTSCHID,CNTSTUID,CYC,NatCen,STRATUM,SUBNATIO,OECD,ADMINMODE,...,PV4RTML,PV5RTML,PV6RTML,PV7RTML,PV8RTML,PV9RTML,PV10RTML,SENWT,VER_DAT,test
0,8.0,ALB,800002.0,800251.0,07MS,000800,ALB0109,0080000,0.0,2.0,...,303.127,362.862,370.634,376.306,343.337,339.973,323.844,2.41652,09MAY19:11:20:53,NaN
1,8.0,ALB,800002.0,800402.0,07MS,000800,ALB0109,0080000,0.0,2.0,...,412.093,410.709,437.901,430.188,403.804,457.625,391.290,2.41652,09MAY19:11:20:53,NaN
2,8.0,ALB,800002.0,801902.0,07MS,000800,ALB0109,0080000,0.0,2.0,...,258.384,337.295,248.659,291.314,326.906,311.582,284.867,1.69989,09MAY19:11:20:53,NaN
3,8.0,ALB,800002.0,803546.0,07MS,000800,ALB0109,0080000,0.0,2.0,...,422.430,452.831,452.842,441.359,463.541,440.298,447.464,2.41652,09MAY19:11:20:53,NaN
4,8.0,ALB,800002.0,804776.0,07MS,000800,ALB0109,0080000,0.0,2.0,...,399.215,319.882,350.976,334.622,378.287,369.191,315.529,2.41652,09MAY19:11:20:53,NaN

In [22]:
print(df.shape)
print(df.dtypes)
print(df.head(10))

(612004, 1119)
CNTRYID     float64
CNT          object
CNTSCHID    float64
CNTSTUID    float64
CYC          object
             ...
PV9RTML     float64
PV10RTML    float64
SENWT       float64
VER_DAT      object
test        float64
Length: 1119, dtype: object
   CNTRYID  CNT  CNTSCHID  CNTSTUID   CYC  NatCen  STRATUM SUBNATIO  OECD  \
0      8.0  ALB  800002.0  800251.0  07MS  000800  ALB0109  0080000   0.0
1      8.0  ALB  800002.0  800402.0  07MS  000800  ALB0109  0080000   0.0
2      8.0  ALB  800002.0  801902.0  07MS  000800  ALB0109  0080000   0.0
3      8.0  ALB  800002.0  803546.0  07MS  000800  ALB0109  0080000   0.0
4      8.0  ALB  800002.0  804776.0  07MS  000800  ALB0109  0080000   0.0
5      8.0  ALB  800002.0  804825.0  07MS  000800  ALB0109  0080000   0.0
6      8.0  ALB  800002.0  804983.0  07MS  000800  ALB0109  0080000   0.0
7      8.0  ALB  800002.0  805287.0  07MS  000800  ALB0109  0080000   0.0
8      8.0  ALB  800002.0  805601.0  07MS  000800  ALB0109  0080000   0.0
9      8.0  ALB  800002.0  806295.0  07MS  000800  ALB0109  0080000   0.0

   ADMINMODE  ...  PV4RTML  PV5RTML  PV6RTML  PV7RTML  PV8RTML  PV9RTML  \
0        2.0  ...  303.127  362.862  370.634  376.306  343.337  339.973
1        2.0  ...  412.093  410.709  437.901  430.188  403.804  457.625
2        2.0  ...  258.384  337.295  248.659  291.314  326.906  311.582
3        2.0  ...  422.430  452.831  452.842  441.359  463.541  440.298
4        2.0  ...  399.215  319.882  350.976  334.622  378.287  369.191
5        2.0  ...  373.153  341.735  388.358  350.395  355.227  355.016
6        2.0  ...  384.313  401.390  388.206  343.641  432.133  414.991
7        2.0  ...  219.806  248.682  248.856  241.473  302.711  256.577
8        2.0  ...  447.010  431.037  391.109  412.879  477.950  396.424
9        2.0  ...  375.517  345.399  401.548  365.401  382.368  306.020

   PV10RTML    SENWT             VER_DAT  test
0   323.844  2.41652    09MAY19:11:20:53   NaN
1   391.290  2.41652    09MAY19:11:20:53   NaN
2   284.867  1.69989    09MAY19:11:20:53   NaN
3   447.464  2.41652    09MAY19:11:20:53   NaN
4   315.529  2.41652    09MAY19:11:20:53   NaN
5   335.615  1.69989    09MAY19:11:20:53   NaN
6   392.936  1.69989    09MAY19:11:20:53   NaN
7   206.474  2.41652    09MAY19:11:20:53   NaN
8   426.660  1.69989    09MAY19:11:20:53   NaN
9   315.314  1.69989    09MAY19:11:20:53   NaN

[10 rows x 1119 columns]

## 2 : Exploatory Data Analysis